.about-container {
  width: 90%;
  margin: 0 auto;
  .text-about {
    color: rgb(122, 168, 255);
    font-size: 26px;
  }
}
@media (max-width: 700px) {
  .about-container {
    .text-about {
      color: rgb(122, 168, 255);
      font-size: 20px;
    }
  }
}
