div.categoryStyles {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  div {
    flex-basis: 25%;
    // align-items: center;
    justify-content: center;
    display: flex;
    a {
      text-decoration: none;

      div.insideCategory {
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        background-color: #333;

        text-decoration: none;
        div.blockDiv {
          flex-basis: 90%;
          width: 100%;
          background-color: #888;
        }
        span {
          text-align: center;
          color: white;
          text-decoration: none;
          display: inline-block;
          font-size: 20px;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  div.categoryStyles {
    align-items: center;
    justify-content: center;
  }
}
