div.elementContainer {
  img {
    &:hover {
      cursor: pointer;
    }
  }
}

div.modal-container {
  //   display: block;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  div.modal-content {
    width: 70%;
    height: 80%;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
    }
  }
}
div.modal-visible {
  display: block;
}
