.galleryStyles {
  opacity: 1;
  transition: 1s ease-in;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  a {
    text-decoration: none;
    margin: 20px;
    div.insideGall {
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;
      background-color: #333;
      text-decoration: none;
      img.blockDiv {
        // flex-basis: 100%;
        height: 100%;
        background-color: #888;
      }
      span {
        text-align: center;
        color: white;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
      }
    }
  }
}
.galleryStyles.hidden {
  opacity: 0;
}

@media (max-width: 850px) {
  div.galleryStyles {
    align-items: center;
    justify-content: center;
    a {
      width: 100%;
      display: flex;
      justify-content: center;
      div.insideGall {
        width: 300px;
        height: 300px;
      }
    }
  }
}
