$primary-color: rgb(122, 168, 255);
$secondary-color: #343c43;

.nav-container {
  background-color: #355c7d;
  border-bottom: 1px solid #747474;
  height: 60px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  .nav {
    height: 100%;
    transition: 1s ease-in;
    width: 35vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .dropdown {
      position: relative;
      .dropdown-menu {
        position: absolute;
        background-color: rgb(124, 124, 124);
        opacity: 0;
        transition: 0.3s;
        transform: translateY(-10px);
      }

      .dropdown-menu.active {
        opacity: 1;
        transform: translateY(0);
      }
    }
    a {
      color: #daa520;
      text-decoration: none;
      padding: 10px;
      transition: 1s;
      font-size: 20px;
      &:hover {
        color: rgb(180, 180, 180);
      }
    }
    button {
      background-color: transparent;
      color: #daa520;
      border: 0;
      font-size: 20px;
      padding: 10px;
      transition: 1s;
      cursor: pointer;
      &:hover {
        color: rgb(180, 180, 180);
      }
    }
  }
  a.hideMenu {
    i {
      padding: 20px;
      color: white;
      font-size: 32px;
    }

    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
  }

  .nav.hidden {
    opacity: 1;
    left: -25%;
  }
}
@media (max-width: 900px) {
  .nav-container {
    .nav {
      width: 70%;
      a {
        font-size: 20px;
      }
      button {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 500px) {
  .nav-container {
    width: 100%;
    border-radius: 0px;
    .nav {
      width: 80%;
      a {
        font-size: 18px;
      }
      button {
        font-size: 18px;
      }
    }
  }
}
