$primary-color: rgb(122, 168, 255);
$secondary-color: #343c43;

.nav-container {
  background-color: black;
  overflow: hidden;
  height: 60px;
  width: 100%;
  .nav {
    height: 100%;
    transition: 1s ease-in;
    width: 35vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      color: white;
      text-decoration: none;
      padding: 10px;
      transition: 1s;
      font-size: 20px;
      &:hover {
        color: rgb(180, 180, 180);
      }
    }
  }
  a.hideMenu {
    i {
      padding: 20px;
      color: white;
      font-size: 32px;
    }

    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
  }

  .nav.hidden {
    opacity: 1;
    left: -25%;
  }
}
@media (max-width: 900px) {
  .nav-container {
    .nav {
      width: 70%;
      a {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 500px) {
  .nav-container {
    width: 100%;
    border-radius: 0px;
    .nav {
      width: 80%;
      a {
        font-size: 18px;
      }
    }
  }
}
