.newest {
  // height: 200px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid #747474;
  padding-bottom: 20px;
  background-color: #373737;
  h2 {
    text-align: center;
    color: white;
    padding: 10px;
  }
  .newest-photo-container {
    display: flex;
    // height: 100%;
    height: 200px;
    .newest-element {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 20%;
      background-color: white;
      margin: 0 20px;
      overflow: hidden;
      position: relative;
      .show-name {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.3);
        height: 25%;
        width: 100%;
        transform: translateY(100%);
        bottom: 0;
        left: 0;
        transition: 0.3s ease-in;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          transform: translateY(0%);
        }
      }
      a {
        width: 100%;
        // height: 100%;
        text-decoration: none;
        color: black;
        img {
          width: 100%;
          transition: 0.3s ease-in;
          &:hover {
            transform: scale(1.1);
          }
          &:hover + .show-name {
            transform: translateY(0%);
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .newest {
    position: static;
    .newest-photo-container {
      flex-direction: column;
      width: 70%;
      margin: 20px auto;
      height: auto;
      .newest-element {
        background-color: transparent;
        margin: 0;
        margin: 10px 30px;
        height: auto;
        a {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
